.hidden {
	display: none;
  }
.flip-card {
  	background-color: transparent;
  	width: 700px;
  	height: 500px;
  	perspective: 1000px;
  	color: white;

}
.registration-form {
  	position: relative;
  	width: 100%;
  	height: 100%;
	display:flex;
  	justify-content:center;
  	transition: transform 0.8s;
  	transform-style: preserve-3d;
}
.log-in-form, .sign-up-form {
  	box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  	position: absolute;
  	display: flex;
  	flex-direction: column;
  	align-items:center;
  	width: 100%;
  	height: 100%;
 	 -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  	border-radius: 1rem;
  	padding-bottom:20px;
}
.log-in-form {
  	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0,0,0,0.3) 0px 7px 13px -3px, rgba(0,0,0,0.2) 0px -1px 0px inset;
  	background-color: rgba(0,0,0,0.3);
  	width: 80%;
  	height: auto;
}
.sign-up-form {
  	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0,0, 0, 0.2) 0px -1px 0px inset;
  	background-color: rgba(0,0,0,0.3);
  	transform: rotateY(180deg);
	width: 90%;
	height: auto;
}
.flipped .registration-form {
    	transform: rotateY(180deg);
}

body{
    	display:flex;
    	justify-content:center;
    	align-items:center;
    	height:900px;
   	background-image: url('gym-image1.jpeg');
	background-size: cover; 
	background-position: center; 
    	background-repeat: no-repeat;
    }
.loginform{
      	display:flex;
      	flex-direction:column;
      	align-items:center;
    }
form{
      	display:flex;
    	flex-direction:column;
    	gap:15px;
    }
 .input{
	position:relative;
	}
.input-label{
	position:absolute;
	top:8px;
	left:10px;
	color:white;
	transition: 0.4s all;
	background-color:none;
	}
.longinput{
        height:2.5em;
        width:30em;
        border-radius:10px;
        border:none;
        color:#ab0b00;
        caret-color:white;
        background-color:rgba(255,255,255,0.3)
    }
.shortinput-container{
        display:flex;
        gap:5px;
        }
.shortinput{
        height:2.5em;
        width:99%;
        border-radius:10px;
        border:none;
        color:#ab0b00;
        caret-color:white;
        background-color:rgba(255,255,255,0.3);
    }
.short-input{
	
	background:none;
	width:50%;
	}

.form_input:focus~.input-label{
	margin-top:-20px;
	background-color: rgb(59, 59, 58);
	border-radius:5px;
	}
.form_input:valid~.input-label{
	display:none;
	}
.button-container{
        display:flex;
        justify-content:center;
        }
.button{
        width:40%;
        height:2.3em;
        font-weight:bold;
        text-transform: capitalize;
        border:none;
        border-radius:10px;
        background-color: #820303;
        color:white;
        }
        
.button:hover{
	background-color: #520606;
	}
.flip:hover{
        cursor:pointer;
        text-decoration:underline;
        
       }
.google{
       	background-color:rgba(255,255,255,0.8);
       	color:red;
       	display:flex;
       	align-items:center;
       	justify-content:center;
       	gap:5px;
       	}
       
       
       
@media (max-width: 600px) {
	.log-in-form{
	width:90%;
	}
	.longinput{
		width:21em;
		align-self:center;
		}
	.shortinput-container{
		width:17.5em;
		}

	.signup-form{
	display:flex;
	flex-direction:column;
		align-items:center;
	}
	}
@media (max-width: 490px) {
    #confirm-password{
	    font-size:0.8em;
	    }
        }










